<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="addWish" href="/tabs/addWish">
      <ion-icon name="add-outline"></ion-icon>      
      <ion-label>Add Wish</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bucketlist" href="/tabs/bucketlist">
      <ion-icon name="diamond-outline"></ion-icon>
      <ion-label>Bucket List</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
