<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your Bucket List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Your Bucket List</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Add sorting dropdown -->
  <ion-item>
    <ion-label>Sort by Type</ion-label>
    <ion-select [(ngModel)]="selectedType" (ionChange)="filterWishes()">
      <ion-select-option value="all">All Types</ion-select-option>
      <ion-select-option value="Hobby">Hobby</ion-select-option>
      <ion-select-option value="Holiday">Holiday</ion-select-option>
      <ion-select-option value="Food">Food</ion-select-option>
      <ion-select-option value="Activity">Activity</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-card *ngFor="let wish of wishes">
      <img [alt]="wish.title" [src]="wish.wishPicture" />
      <div class="image-overlay">{{wish.wishType}}</div>
      <ion-card-header>
        <ion-card-title>{{ wish.title }}</ion-card-title>
        <ion-card-subtitle>
          Date Added: {{ wish.dateAdded }}
          </ion-card-subtitle>
          <ion-card-subtitle>Goal: {{wish.dateGoal.split('T')[0] }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ wish.description }}
        <br>
        <div class="links">
          <a class="edit-link" [routerLink]="['/edit-wish', wish._id]">Edit</a>
          <a class="delete-link" (click)="deleteWish(wish._id)">Delete</a>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <app-explore-container name="Bucket list page"></app-explore-container>
</ion-content>
