<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your Bucket List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Your Bucket List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let wish of wishes">
      <img [alt]="wish.title" [src]="wish.wishPicture" />
      <ion-card-header>
        <ion-card-title>{{ wish.title }}</ion-card-title>
        <ion-card-subtitle>{{ wish.wishType }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ wish.description }}
        <br><br>
        <a class="delete-link" (click)="deleteWish(wish._id)">Delete</a>
        <a class="edit-link" [routerLink]="['/edit-wish', wish._id]">Edit</a>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <app-explore-container name="Bucket list page"></app-explore-container>
</ion-content>
