<ion-header [translucent]="true">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goToTheme()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="text-container">
    <h1>Welcome to the Bucket List App!</h1>
    <h5>This is your own personal bucket list app!</h5>
      <p><br><br>
      Here you can add your own personal goals, be it starting a new hobby, new dish or travelling to a country you've never visited before.
      <br><br>
      Tip: Sort your bucket list by assigning the wish "type" for ease of access to similar wishes.
      <br><br><br>
      Get started below!
    </p>
  </div>

  <app-explore-container name="Home page"></app-explore-container>
</ion-content>
